@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
  background: white;
  color: #111827;
}

.dark body {
  background: #111827;
  color: white;
}

#root {
  min-height: 100vh;
}
.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: #2563eb;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
section {
  scroll-margin-top: 90px;
}